# .gitignore

# Environment variables
.env

# Python specific
__pycache__/
*.pyc
venv/
.Python/
*.egg-info/
.pytest_cache/

# IDE specific files
.vscode/
.idea/

# Application specific data
chroma_db/
data/