fastapi[standard]
pydantic
pydantic-settings
python-dotenv
uvicorn
# langchain dependencies
sentence-transformers
aiofiles
langchain
langchain-core
langchain-community
openai
chromadb
tiktoken
pymupdf
langchain-huggingface
langchain-openai
langchain-chroma
# web-scraping dependencies
requests
beautifulsoup4
readability-lxml
selenium
# additional dependencies for Clerk integration
clerk-backend-api
clerk-sdk
python-jose[cryptography]
httpx
# deps for handling db operations
pymongo


# virtual environment: python -m venv venv
# activate venv: .\venv\Scripts\Activate.ps1
# install requirements: pip install -r requirements.txt
# run server: uvicorn server:app --reload
